.container {
    display: grid;
    grid-template-areas:
        "sidebar topnav"
        "sidebar main";
    grid-template-rows: 65px auto;
    grid-template-columns: 300px auto;
}

.container aside {
    grid-area: sidebar;

}

.container nav {
    grid-area: topnav;
}

.container main {
    grid-area: topnav;
}